<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->
<configuration>
  <connectionStrings configSource="connectionStrings.debug.config" />
  <appSettings>
    <add key="webpages:Version" value="1.0.0.0" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  </appSettings>
  <system.web>
    <!-- setting session state to make global.asax online counter to work -->
    <!-- Note: The Session_End event is raised only when the sessionState mode is set to InProc in the Web.config file. 
                   If session mode is set to StateServer or SQLServer, the event is not raised. -->
    <sessionState mode="InProc" cookieless="false" timeout="20" />
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>
    <machineKey validationKey="8728DE8943446A25D39BFC2A8418EB003AC77FB1E02C5904C6CF98C25DF31EFD7B5286FACE3E669B7502DD5E41590ACF75F456B0BAAED5A3CCFA0C8914A686E3" decryptionKey="21427C27FF4DE9ACF4783336F9E9784835D1BBD7A688EF45" validation="SHA1" decryption="AES" />
    <membership defaultProvider="MembershipProvider">
      <providers>
        <clear />
        <add name="MembershipProvider" type="MongoProviders.MembershipProvider" applicationName="/" connectionStringName="db" collectionSuffix="users" invalidUsernameCharacters=",%" invalidEmailCharacters=",%" writeExceptionsToEventLog="false" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="true" requiresUniqueEmail="false" passwordFormat="Hashed" maxInvalidPasswordAttempts="10" minRequiredPasswordLength="6" minRequiredNonAlphanumericCharacters="0" passwordAttemptWindow="10" passwordStrengthRegularExpression="" />
        <add name="MembershipProviderAdmin" type="MongoProviders.MembershipProvider" applicationName="/" connectionStringName="db" collectionSuffix="users" invalidUsernameCharacters=",%" invalidEmailCharacters=",%" writeExceptionsToEventLog="false" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="true" passwordFormat="Hashed" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="7" minRequiredNonAlphanumericCharacters="1" passwordAttemptWindow="10" passwordStrengthRegularExpression="" />
      </providers>
    </membership>
    <roleManager enabled="true" defaultProvider="MongoRoleProvider" cacheRolesInCookie="true" createPersistentCookie="false" cookieProtection="All">
      <providers>
        <clear />
        <add name="MongoRoleProvider" type="MongoProviders.RoleProvider" applicationName="/" connectionStringName="db" roleCollectionSuffix="roles" userCollectionSuffix="users" invalidUsernameCharacters=",%" invalidRoleCharacters=",%" />
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/" />
      </providers>
    </roleManager>
    <!-- **************************************************
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Forms">
      <forms name="WSATCookie" slidingExpiration="true" timeout="30" loginUrl="/Account/Login" cookieless="AutoDetect" protection="All" requireSSL="false" enableCrossAppRedirects="true" defaultUrl="/AfterLogin/" domain="" path="/" />
    </authentication>
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
  </system.web>
  <system.net>
    <!-- **********************************************
        SMTP email settings
        -->
    <mailSettings>
      <smtp configSource="smtp.debug.config" />
    </mailSettings>
  </system.net>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true" />
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>